{% extends "base.html" %}

{% block name %}
    {{ loginName }}
{% endblock %}

{% block tab %}
    <li><a href="/person/" class="active"><span>Person</span></a></li>
	<li><a href="/mission/"><span>Mission</span></a></li>
    <li><a href="/report/"><span>Daily Report</span></a></li>
{% endblock %}

{% block content %}
	<!-- Box -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2 class="left">Person Information</h2>
			<div class="right">
				<label>New Person</label>
					<input type="submit" class="button" value="new" onclick=show("person") />
				</div>
			</div>
		<!-- End Box Head -->

			<!-- Table -->
			<div class="table">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th>id</th>
						<th>Name</th>
						<th>Department</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Remark</th>
                        <th>Link</th>
					    <th width="110" class="ac">Content Control</th>
					</tr>
                    {% for p in personlist %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td id="{{ p.id }}_name">{{ p.name }}</td>
                        <td id="{{ p.id }}_department">{{ p.department }}</td>
                        <td id="{{ p.id }}_title">{{ p.title }}</td>
                        <td id="{{ p.id }}_position">{{ p.position }}</td>
                        <td id="{{ p.id }}_remark">{{ p.remark }}</td>
                        <td>
                            <a class="link" href="http://127.0.0.1:8000/mission/?person={{ p.id }}" >Mission</a>
                            <a class="link" href="http://127.0.0.1:8000/report/?person={{ p.id }}">Report</a>
                        <td>
                            <a id="person{{ p.id }}" onclick=editPerson({{ p.id }}) class="ico edit">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
						<!--<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td><h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3></td>
								<td>12.05.09</td>
								<td><a href="#">Administrator</a></td>
								<td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
							</tr>
							-->
				</table>
                <!-- Pagging -->
				<!--<div class="pagging">
					<div class="left">Showing 1-12 of 44</div>
						<div class="right">
						    <a href="#">Previous</a>
							<a href="#">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">245</a>
							<span>...</span>
							<a href="#">Next</a>
							<a href="#">View all</a>
						</div>
					</div>
                </div>-->
				<!-- End Pagging -->
			</div>
			<!-- Table -->
    		<!-- Box -->
			<div id="person-hide" class="box" style="display: none">
				<!-- Box Head -->
				<div class="box-head">
					<h2>New</h2>
				</div>
					<!-- End Box Head -->
			<form action="" method="post">
			<!-- Form -->
				<div class="form">
                {{ form.as_p }}
			    </div>
				<!-- End Form -->
				<!-- Form Buttons -->
				<div class="buttons">
					<input type="button" class="button" value="cancel" onclick=hide("person") />
					<input type="submit" class="button" value="submit" />
				</div>
				<!-- End Form Buttons -->
			</form>
		</div>
		<!-- End Box -->
    <div id="person-update" class="box" style="display: none">
				<!-- Box Head -->
				<div class="box-head">
					<h2>Update</h2>update
				</div>
					<!-- End Box Head -->
			<form action="" method="post">
			<!-- Form -->
				<div class="form">
                <p>
                    <input id="id_id" type="text" name="id" />
                </p>
                {{ form.as_p }}
                <select id="id_status" name="position">
                    {% for s in statuslist %}
                        <option id="{{ s.id }}_option" value="{{ s.id }}">{{ s.status }}</option>
                    {% endfor %}
                </select>
			    </div>
				<!-- End Form -->
				<!-- Form Buttons -->
				<div class="buttons">
					<input type="button" class="button" value="cancel" onclick=Uhide("person") />
					<input type="submit" class="button" value="submit" />
				</div>
				<!-- End Form Buttons -->
			</form>
		</div>
{% endblock %}